<!DOCTYPE html>
<!--
Template Name: Chillaid
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->

<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="stylesheets/css/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <!-- ################################################################################################ -->
        <h1 class="logoname"><a href="/">Voltron</a></h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right">
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li><a class="drop" href="#">Pages</a>
            <ul>
              <li><a href="/admin">Admin</a></li>
              <li><a href="/supplier">Supplier</a></li>
              <li><a href="/manufacturer">Manufacturer</a></li>
              <li><a href="/distributer">Distributer</a></li>
              <li><a href="/customer">Customer</a></li>
            </ul>
          </li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <button type="submit" value="submit" onclick="logout(event)" style="display: inline; background-color: red; border: none;color: white;
                    padding: 15px 32px; text-align: center;border-radius:4px">Logout</button>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->

  <!-- ################################################################################################ -->
  <div class="bgded overlay" style="background-image:url('/stylesheets/css/images/admin.jpg');">
    <div id="pageintro" class="hoc clear">
      <section id="ctdetails" class="hoc container clear">
        <!-- ################################################################################################ -->
        <article class="sectiontitle">
          <h3 class="heading" style="font-family: Candara;">Enter the Public Key and Role:</h3><br>

          <fieldset>
            <form>
              <legend>Newsletter:</legend>
              <input id="priv_key_roleAdmin" name="priv_key_roleAdmin" type="text"
                placeholder="Public Key Of Participant" required />
              <input id="id_type" list="idTypes" type="text" placeholder="Identity Type" autocomplete="off" required />
              <datalist id="idTypes">
                <option value="Supplier">
                <option value="Manufacturer">
                <option value="Distributer">
              </datalist>
              {{!-- <select required
                                style="margin-left: 33%;padding-left: 15%;padding-top: 2%;font-size: 120%;">
                                <option value=”” disabled selected hidden>Assign a role</option>
                                <option value="Supplier">Supplier</option>
                                <option value="Manufacturer">Manufacturer</option>
                                <option value="Distributer">Distributer</option>
                                <option value="Customer">Customer</option>
                            </select><br> --}}
              <button type="submit" value="submit" onclick="add_role(event)" style="margin-left: 43%;;">Assign
                Role</button>
            </form>
          </fieldset>



        </article>
        <!-- ################################################################################################ -->
      </section>
    </div>
  </div>
  <!-- ################################################################################################ -->

  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="bgded overlay row4">
    <footer id="footer" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="one_quarter first">
        <h1 class="logoname"><a href="/">Voltron</a></h1>
        <p>Subscribe to this blog and receive notifications of new posts by email. [<a href="#">&hellip;</a>]
        </p>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Contact our satisfied customers</h6>
        <ul class="nospace linklist">
          <li><a href="#">-Jhon Berling</a></li>
          <li><a href="#">-Ed Timberlake</a></li>
          <li><a href="#">-Anne Gaga</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Our Partners</h6>
        <ul class="nospace clear latestimg">
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/j.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/l.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/m.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/a.jpg" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/d.jpg" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/t.jpg" alt=""></a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Stay in touch</h6>
        <ul class="nospace linklist">
          <li>
            <article>
              <p class="nospace btmspace-10"><a href="#">Subscribe to this RSS feed and get latest updates
                  automatically. </a></p>
              <time class="block font-xs" datetime="2019-04-06">Friday, 6<sup>th</sup> April 2019</time>
            </article>
          </li>

        </ul>
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="/javascripts/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  {{!--  
    <script src="stylesheets/css/layout/scripts/jquery.min.js"></script>
    <script src="stylesheets/css/layout/scripts/jquery.backtotop.js"></script>
    <script src="stylesheets/css/layout/scripts/jquery.mobilemenu.js"></script>
    <!-- Homepage specific -->
    <script src="stylesheets/css/layout/scripts/jquery.easypiechart.min.js"></script> --}}
  <!-- / Homepage specific -->
</body>

</html>